.capabilities {
  background-color: $color_dark;
  padding-block: 175px;

  &__wrapper {
    // width: 590px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px;
    margin-top: 100px;
  }

  &__header {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .p {
      max-width: 570px;
    }
  }

  ul {
    list-style-position: inside;
  }
}