
.container {
  --container-paddings: 24px;
  width: 100%;
  max-width: calc(1090px + calc(var(--container-paddings) * 2));
  padding-inline: var(--container-paddings);
  margin-inline: auto;
}


.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 48px;

  &--col {
    flex-direction: column;
  }

  .col-6 {
    width: calc(50% - 27px);
  }

  // gap: 44px;

  // .col {
  //   width: 100%;
  // }

  @media (min-width: 1024px) {
    .col--md-5 {
      width: 46%;
    }

    .col--md-6 {
      width: 48%;
    }

    .col--md-7 {
      width: 60%;
    }
  }

  // @media (max-width: 1024px) {
  //   flex-direction: column;
  // }
}


// Grid for 3 cards per row on Desktop, 2 on tablet, 1 on mobile
.grid {
  --card-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);

  &__item {
    width: calc(33.3% - var(--card-gap) + (var(--card-gap) / 3));

    @media (max-width: 1024px) {
      width: calc(50% - var(--card-gap) + (var(--card-gap) / 2));
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}