$breakpoint_for_mobile_nav: 1024px;

.header {
  width: 100%;
  background-color: $color_white;
  margin-top: 0;
  padding-inline: 0;
  box-shadow: $shadow_primary;

  .site-brand {
    max-width: 150px;
  }

  .container {
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    box-shadow: $shadow_primary;
    border-radius: $radius-card;
    max-width: 1090px;
    width: calc(100% - 48px);

    @media (max-width: 1024px) {
      padding-inline: 24px;
    }
  }

  &__hamburger {
    display: none;
    outline: none;
    height: 11px;
    width: 23px;
    border: 0px;
    padding: 0px;
    background: transparent;
    transition: all 250ms ease-out;
    cursor: pointer;
    position: relative;

    &::before, &::after {
      content: '';
      width: 100%;
      height: 3px;
      position: absolute;
      background: $color_dark;
      transition: all 250ms ease-out;
      will-change: transform;
      border-radius: 10px;
    }

    &::before {
      transform: translateY(-0);
    }

    &::after {
      transform: translateY(7px);
    }

    @media (max-width: $breakpoint_for_mobile_nav) {
      display: flex;
    }

    &.active {
      &:before {
        transform: translateY(0) rotate(45deg);
      }

      &:after {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
}