.header {
  margin-top: 40px;

  .site-brand {
    max-width: 150px;
  }

  .container {
    justify-content: space-between;
    padding: 24px 64px;
    box-shadow: $shadow_primary;
    border-radius: $radius-card;
    max-width: 1090px;
    width: calc(100% - 48px);

    @media (max-width: 1024px) {
      padding-inline: 24px;
    }
  }
}