.hero {
  margin-block: 100px;

  @media (max-width: 768px) {
    margin-block-start: 80px;
  }

  &--version-2 {
    margin-block: 150px 220px;

    @media (max-width: 768px) {
      margin-block: 80px;
    }
  }

  .h1 {
    margin-bottom: 48px;

     @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &__description {
    margin-bottom: 32px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &__img {
    font-size: 0;
    padding-bottom: 70px;
    position: relative;

    &-wrapper {
      height: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: $radius-card;

      @media (hover: hover) {
        img {
          transition: scale 0.3s linear;
        }

        &:hover img {
          scale: 1.1;
        }
      }
    }

    &--secondary {
      height: 500px;
      padding-bottom: 0;
      border-radius: $radius-card;
    }
  }

  &__explore-more {
    position: absolute;
    bottom: 0;
    right: 63px;

    button {
      height: 74px;
      width: 74px;
      background-color: $color_dark;
      padding: 0;
      outline: none;
      border: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__contact-info {
    position: absolute;
    right: 60px;
    top: 20px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);

    @media (max-width: 1250px) {
      display: none;
    }
  }

  &--secondary {
    background-color: $color_primary;
    margin-block: 0;
    padding-block: 64px;
    text-align: center;
  }
}