.partners {
  --space-between-logos: 62px;
  background-color: $color_dark;
  color: $color_white;
  padding-block: 75px;

  @media (max-width: 768px) {
    --space-between-logos: 36px;
  }

  * {
    color: inherit;
  }

  .tagline {
    margin-bottom: 48px;
  }

  &__wrapper {
    gap: var(--space-between-logos);
  }

  &__partner {
    max-width: 170px;

    @media (max-width: 768px) {
      max-width: 95px;

      img {
        width: 100%;
      }
    }
  }
}