.projects {
  background-color: $color_offWhite;

  &__header {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
  }

  &__text-col {
    max-width: 630px;

    .tagline {
      margin-bottom: 16px;
    }

    .h2 {
      margin-bottom: 16px;
    }

    p {
      max-width: 535px;
    }
  }

  &__wrapper {
    gap: 74px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      gap: 48px;
    }
  }

  &__project {
    --img-height: 440px;
    width: 100%;
    max-width: 720px;
    position: relative;

    @media (max-width: 768px) {
      --img-height: 210px
    }

    &-img {
      height: var(--img-height);
      border-radius: $radius-card;
      background-color: $color_placeholder;
      overflow: hidden;

      img {
        transition: 0.3s;
      }
    }

    @media (hover: hover) {
      &:hover {
        .btn--open-preview {
          transform: rotate(45deg);
        }
      }
    }

    &-info {
      margin-top: 32px;

      &.pull-up {
        padding-inline: 40px;
        margin-top: -40px;
  
        @media (max-width: 768px) {
          margin-top: -20px;
          padding-inline: 20px;
        }

      }
    }

    &-no {
      position: absolute;
      left: -70px;
      top: calc(var(--img-height) / 2);
      z-index: 22;

      @media (max-width: 1250px) {
        position: static;
        margin-bottom: 16px;
      }
    }

    &:nth-child(even) {
      align-self: flex-end;

      .projects__project-no {
        left: auto;
        right: -70px;
      }
    }
  }
}