.service-works {
  overflow-x: hidden;

  &__header {
    max-width: 605px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .container {
    position: relative;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
  }

  &__work {
    flex-shrink: 0;
  }

  .projects__project {
    max-width: 400px;
    width: 420px;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  .projects__project {
    &-info {
      h3 {
        margin-bottom: 16px;
      }
    }
  }
}