.what-we-do {
  background-color: $color_offWhite;

  .container {
    justify-content: space-between;
    flex-wrap: wrap;
  }



  &__content {
    width: 100%;

    .row {
      margin-top: 80px;
    }
  }
}