.what-we-do {
  background-color: $color_offWhite;

  .container {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__media-col {
    width: 100%;
    max-width: 300px;
  }

  &__content {
    width: 100%;
    max-width: 623px;

    .row {
      margin-top: 80px;
    }
  }
}