.btn-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 8px;
}

.btn {
  padding: 12px 40px;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  color: $color_dark;
  text-transform: capitalize;
  text-align: center;
  outline: none;
  border: none;

  &--primary {
    background-color: $color_primary;
    color: $color_dark;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @media (hover: hover) {      
      &:hover {
        box-shadow: $shadow_btn_hover;
      }
    }
  }

  &--top-right-arrow {
    display: inline-flex;
    justify-content: center;
    gap: 8px;

    img {
      transition: 0.3s;
      transform-origin: top right;
    }

    @media (hover: hover) {
      &:hover {
        img {
          transform: translateX(3px) translateY(-3px);
        }
      }
    }

  }

  &--underline-animation {
    position: relative;
    padding-block: 2px;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 80px);
      height: 2px;
      border-radius: 2px;
      background-color: $color_primary;
      bottom: 0;
      left: 50%;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    @media (hover: hover) {
      &:hover::before {
        transform: scaleX(1) translateX(-50%);
      }
    }
  }

  &--rounded {
    border-radius: $radius-100;
  }

  &--full-rounded {
    border-radius: 50%;
  }

  &--shadow {
    box-shadow: $shadow_button;
  }

  &--open-preview {
    width: 88px;
    height: 88px;
    position: absolute;
    bottom: 32px;
    right: 32px;
    transition: 0.3s;
    padding: 0;

    @media (max-width: 768px) {
      width: 44px;
      height: 44px;

      img {
        width: 12px;
      }
    }
  }

  &--small {
    width: 48px;
    height: 48px;
    padding: 0;
  }

  &--underline {
    padding-inline: 0;
    text-decoration: underline;
    text-align: left;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &--arrow-to-right {
    rotate: -90deg;

    img {
      transition: 0.3s;
    }

    &:hover img {
      translate: 0 5px;
    }
  }

  @media (max-width: 768px) {
    &--mobile-full-width {
      width: 100%;
    }
  }
}