@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-shadow-color: #000;
}

.hover\:shadow-primary:hover {
  --tw-ring-offset-shadow: 0 0 var(--primary-shadow-color);
  --tw-shadow: 4px 4px 0px var(--primary-shadow-color);
  --tw-ring-shadow: 0 0 var(--primary-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 var(--primary-shadow-color)),var(--tw-ring-shadow,0 0 var(--primary-shadow-color)),var(--tw-shadow);
}